            <div class="row education" id="education">
                <div class="education section six columns">
                    <h2>Education</h2>
                    <ol>
                        <li class="row">
                            <h4 class="twelve columns">Central Washington University</h4>
                            <span class="seven columns">
                                Bachelor of Computer Science     
                                <span>Winter 2016</span>
                                <details>
                                <summary>Coursework</summary>
                                    <ul>
                                        <li>UX/UI Design &amp; Development</li>
                                        <li>Programming in Distributed Environments</li>
                                        <li>Databases Management Systems</li>
                                        <li>Statistics &amp; Computer Modeling</li>
                                        <li>Network Communications</li>
                                        <li>Operating Systems and Computer Architecture</li>
                                        <li>Ethics in Computer Science</li>
                                    </ul>
                                </details>
                            </span>
                            <img src="images/cwu_logo.jpg" class="four columns"/>
                       </li>
                    </ol>
                </div>
                <div id="accomplishments" class="accomplishments section six columns">
                    <h2>Accomplishments</h2>
                    <ul>
                        <li>
                            <h3>CWU Startup Club Senator</h3>
                            <span>I was one of three founders of an entrepreneurial club focused on technology that brought speakers and hackathon events to campus.</span>
                            <details>
                                <summary>Senator Responsibilities</summary>
                                I represented CWU Startup in the CWU Club Senate, I voted on important issues such as funding requests, congressional bylaws, and other issues that effected our club and the campus as a whole. I used my position to submit funding requests to support events. 
                            </details>
                        </li>
                        <li>
                            <h3>Source 2015</h3>
                            <span>
                                Presented my project AIR at the The Symposium Of University Research and Creative Expression.  I explained how AIR helped to create a culture of safety for the Aviation department.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>