<!doctype html>
<html lang='en'>
<head>
	<meta charset="utf-8">

	<title>Patrick Murphy Developer</title>
	<meta name="description" content="Patrick Murphy Software Developer Portfolio">
	<meta name="author" content="Patrick Murphy">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
	<link rel="stylesheet" href="css/vendor/normalize.min.css" />
	<link rel="stylesheet" href="css/vendor/skeleton.min.css" />
	<link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
</head>
<body>
        <div class="container" id="top">
            <div>
                <div class="row name-row">
                    <a href="#top">
                        <h1 class="name six columns offset-by-three">Patrick Murphy</h1>
                    </a>
                </div>
                <div class="row portrait-container">
                    <img class="portrait four columns offset-by-four" src="images/patrick_murphy.jpg" alt="Portrait"/>
                </div>
                <div class="navigation">
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <br style="clear:both;"/>